.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

.timeline:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    background: #2196f3;;
    left: 4%;
    margin-left: 1.5px
}

.timeline>li {
    position: relative;
    min-height: 50px;
    padding: 20px 0
}

.timeline .timeline-icon {
    /* left: 15%; */
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px
}

.timeline .timeline-icon a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background: #d9e0e7;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #2196f3;
    transition: border-color .2s linear
}

.timeline .timeline-body {
    margin-left: 10%;
    margin-right: 17%;
    background: #e9ecef;
    position: relative;
    padding: 20px 25px;
    border-radius: 6px;
    min-width:270px;
}

.timeline .timeline-body:before {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #e9ecef;
    left: -20px;
    top: 20px
}

.timeline .timeline-body>div+div {
    margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px
}

.timeline-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e7eb;
    line-height: 30px
}


.timeline-content {
    letter-spacing: .25px;
    line-height: 18px;
    font-size: 13px;
    overflow-wrap: break-word;
}

.timeline-content:after,
.timeline-content:before {
    content: '';
    display: table;
    clear: both
}
